.container {
    max-width: 800px;
    margin: auto;
  }
  
  .header {
    background-color: #a48211;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .header img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
  }

  .result-card {
    background-color: #0f3460;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .result-icon {
    font-size: 24px;
    margin-right: 10px;
    display: inline-block;
  }
  
  .explanation {
    margin-top: 10px;
    color: #ffffff;
    background-color: #1f4068;
    padding: 10px;
    border-radius: 5px;
  }
  